<div class="card">
    <div class="card-body">
      <form class="p-5" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <label for="currentPasswordField">Current password</label>
        <input id="currentPasswordField" class="form-control" style="max-width:200px" type="text"
               formControlName="currentPassword" required/>

        <label for="newPasswordField">New password</label>
        <input id="newPasswordField" class="form-control" style="max-width:200px" type="password"
               formControlName="newPassword" required/>

        <label for="newPassword1Field">Confirm password</label>
        <input id="newPassword1Field" class="form-control" style="max-width:200px" type="password"
                formControlName="newPassword1" required/>

                <p style="color: blue;" *ngIf="changePasswordForm.get('newPassword')!.value !== changePasswordForm.get('newPassword1')!.value && changePasswordForm.get('newPassword1')!.dirty">PASSWORDS DON'T MATCH</p>
  
        <input class="btn btn-primary mt-2" type="submit" value="Submit"/>
      </form>
    </div>
  </div>