<div *ngIf="loggedIn">
    <div class="card mb-2">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-2 col-md-12">
            <div class="d-grid justify-content-center gap-2 mb-2">
              <button class="btn btn-sm btn-primary mt-2" (click)="onEditProfile()">Update profile</button>
            </div>
            <div class="d-grid justify-content-center gap-2 mb-2">
              <button class="btn btn-sm btn-primary mt-2" (click)="onEditPassword()">Change password</button>
            </div>
          </div>
          <div class="col-lg-5 col-md-12">
            <ul class="list-group">
              <li class="list-group-item">Username: {{user.username}}</li>
              <li class="list-group-item">First name: {{user.firstName}}</li>
              <li class="list-group-item">Last name: {{user.lastName}}</li>
              <li class="list-group-item">Email: {{user.email}}</li>
              <li class="list-group-item" *ngIf="user.displayName">Display name: {{user.displayName}}</li>
              <li class="list-group-item" *ngIf="user.description"> Description: {{user.description}}
              </li>
            </ul>
          </div>
        </div>
  
      </div>
    </div>
    <app-edit-profile *ngIf="editProfileEnabled" (updateUserEvent)="onUpdateProfile(user)"></app-edit-profile>
    <app-change-password *ngIf="editPasswordEnabled" (updateUserEvent)="onUpdateProfile(user)"></app-change-password>
  </div>